
* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    /*CABEZA*/

.logos{
    width: 18.75rem;
    padding-left: 2.5rem;
    padding-top: .625rem;
    margin-bottom: 1.25rem;
}

/*MENU*/
nav{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto 2.5rem auto;
     display: flex;
    }
    

.menu a:hover{
        background-color: greenyellow;
        color: rgb(0, 0, 0);
    }

.idk{
background-color: black;
}
.menu{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: .9375rem;
    margin-bottom: 0;
    text-align: center;
   
}

a{
    text-decoration: none;
    color: white;
  
}

/*IMAGEN*/
.pizza{
    width: 37.5rem;
    padding-top: 3.125rem;
    align-items: center;
    margin-left: 18.75rem;
    border-radius: 1.875rem;
    
}

/*TEXTO*/

h2{
    padding-top: 1.25rem;
    padding-bottom: 1.875rem;
    text-shadow: .125rem .1875rem .187rem;
}
h2,p{
    text-align: center;
}



.tabla{
    display: flex;
    justify-content:space-evenly;
    padding-top: 1.875rem;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    
}
/*P2*/


.mini-pizza1{
    width: 12.5rem;
    border-radius: 1.875rem ;
}

.img1{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row-reverse;
    padding-top: 1.875rem;
    padding-left: 18.75rem;
    padding-right: 6.25rem;
    gap: 1.25rem;
    
}

/*P3*/

.img2{
    display: flex;
    justify-content:space-evenly;
    padding-top: 1.875rem;
    padding-left: 6.25rem;
    padding-right: 18.75rem;
    padding-bottom: 1.25rem;
    gap: 1.25rem;
    
}
.mini-pizza2{
    width: 12.5rem;
    border-radius: 1.875rem ;
}

/*FORMULARIO*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
 }
 
 
 .FORMULARIO{
    background-color: grey;
    align-items: flex-end;
    width: 75%;
    margin: auto;
    padding: 15px;
    padding-bottom: 1.25rem;
}


.contacto h1{
   color: rgb(0, 0, 0);
   text-align: left;
   padding: 10px;
}





.formulario{
   display: flex;
   flex-direction: column;
}


.formulario > *{
   margin: 10px 0px 0px 0px;
   padding: 15px;
   border-radius: 10px;
}
/*TABLA*/
table{
background-color: greenyellow;
    border-collapse: collapse;
    margin: auto;
    width: 50%;
    caption-side: bottom;
    padding-left: 6.25rem;
    padding-right: 18.75rem;
}


th{
    padding: 10px;
    text-transform: uppercase;
}

td{
    text-align: center; 
    padding: 10px;
}


/*FINAL*/
footer{
    padding-top: 1.25rem;
    background-color: greenyellow;
}